import json, requests
import ijson # pip install ijson

payload = {{ body }}

headers = {
  "Content-Type": "application/x-www-form-urlencoded",
  "x-api-key": "YOUR_API_KEY_HERE"
}

response = requests.post("{{ base_url }}{{ path }}",
    headers=headers,
    data={"body": json.dumps(payload)},
    stream=True
)

for obj in ijson.items(response.raw, '', multiple_values=True, buf_size=32):
    print(obj)